.img_fixed{
  height: calc(100vh - 66.38px);
  display: flex;
  align-items: center;
  background-image: url("../src/img/audi_e_tron_front.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img_fixed img{
  width: 100vw;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  max-width: 90%;
}
::-webkit-scrollbar {
    width: 5px;
   
}

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
     border-radius: 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.slider img{
  width: 15em;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .title{
  background-color: gray;
  width: 100%;
  text-align: center;
}

.shaderTopBlack{
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%);
    inset: 0px;
    position: absolute;
    top: 66.38px;
}